---
layout: default
title: Home
description: home sweet home
navigation: false
---

<h2 class="hero-header">Designer, developer & nice guy from the UK</h2>

<div class="recent-work">
	<ul>
		{% for post in site.categories.projects %}
			<li>
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" />
<!-- 					<h3>{{ post.title }}</h3> -->
				</a>
			</li>
		{% endfor %}
	</ul>
	<a href="/projects" class="more-projects">More <span class="bold">&#8611;</span></a>
</div>

<div class="about-intro">
	<h3 class="sub-section-title"><a href="/about">About</a></h3>
	<p>I'm an 18 year old student living in South East of the good ol' United Kingdom. I design and develop websites for <a href="http://5lin.es">5 Lines Creative</a>, a design studio which I co-founded. I am in the final year of education - I attend a Sixth Form College in Hampshire, studying Maths, History, Chemistry and Biology. I am planning on going to University in September 2013 to study Software Engineering.</p>
</div>

<div class="latest-posts">
	<h3 class="sub-section-title"><a href="/blog">Writing</a></h3>
	<ul>
		{% for post in site.categories.blog limit:3 %}
			<li class="blog-post">
				<h4 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
				<!-- <span class="post-meta">{{ post.date | date: "%d %B %Y" }}</span> --> 
			</li>
		{% endfor %}
	</ul>
</div>